@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cloud Reminder</h1>
    <p>dober dan</p>
    <img src="https://media.discordapp.net/attachments/364466951206207490/769214919597621248/764892563614203924.gif">
</div>
